<h1><center>Mis Proyectos<center/></h1>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag '1.jpg' %>
      <div class="card-body">
        <h5 class="card-title">Proyecto 1</h5>
        <p class="card-text">Programación.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <%= image_tag '2.jpg' %>
      <div class="card-body">
        <h5 class="card-title">Proyecto 2</h5>
        <p class="card-text">Visualización.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <%= image_tag '3.jpg' %>
      <div class="card-body">
        <h5 class="card-title">Proyecto 3</h5>
        <p class="card-text">Automatización.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</div>
